### SQL Cheat Sheet
http://www.sqltutorial.org/wp-content/uploads/2016/04/SQL-cheat-sheet.pdf

### SQLite3

#### Working with SQLite3 DBs in Jupyter Notebook

    #First we import the sqlite3 module
    ```python
    #import sqlite3
    ```

    #Next we create our connection to the sqlite database file `pet_database.db` by using the method `.connect()` and the file name we would like for our database.
    ```python
    connection = sqlite3.connect('pet_database.db')
    ```

    #Then we create the *cursor* which we will use to execute SQL statements
    ```python
    cursor = connection.cursor()
    ```

    #Finally, when we want to execute our SQL statements we reference our SQL cursor object and call the method `.execute()` with our SQL statement as the argument
    ```python
    sql_return = cursor.execute('''SQL statement GOES here;''')
    ```
    To see a list of the information we retrieved from our SQL statement, we can take our `sql_return` variable and call the method `.fetchall()`, which will return a list of records (if we are executing a `SELECT` statement.
    
    #creating a table CATS with ID column as primary key using integers, a NAME column using text and an AGE column using integers
    cursor.execute('''
                CREATE TABLE cats (
                id INTEGER PRIMARY KEY,
                name TEXT, 
                age INTEGER
                );'''
               )

### Data Types
TEXT, INTEGER, REAL(FLOAT), BLOB(BINARY DATA)

### Primary and Foreign Keys
Primary Key	
- Primary key uniquely identify a record in the table.	
- Primary Key can't accept null values.	
- By default, Primary key is clustered index and data in the database table is physically organized in the sequence of clustered index.	
- We can have only one Primary key in a table.	
    
Foreign Key
- Foreign key is a field in the table that is primary key in another table.
- Foreign key can accept multiple null value.
- Foreign key do not automatically create an index, clustered or non-clustered. You can manually create an index on foreign key.
- We can have more than one foreign key in a table.

### Using SQL syntax with `pandasql`

Since SQL is such a powerful, comfortable tool for Data Scientists, some people had the bright idea of creating a library that lets users query DataFrames using SQL-style syntax.  This library is called [pandasql]( https://pypi.org/project/pandasql/ ).

We can install `pandasql` using the bash comman `pip install pandasql`.

#### Importing pandasql

In order to use `pandasql`, we need to start by importing a `sqldf` object from `pandasql`

    ```python
    from pandasql import sqldf
    ```

Next, we'll write a lambda function that will make it quicker and easier to write queries.  Normally, we would have to pass in the global variables every time we use an object.  In order to avoid doing this every time, we'll write a lambda that does this for us. 

    ```python
    pysqldf = lambda q: sqldf(q, globals())
    ```

Now, when we pass a query into `pysqldf`, the lambda will also pass along the globals for us, saving us that repetitive task. 

#### Writing Queries

To write a query, we just format it as a multi-line string!

    ```python
    q = """SELECT
            m.date, m.beef, b.births
         FROM
            meats m
         INNER JOIN
            births b
               ON m.date = b.date;"""
    ```

In order to query DataFrames, we can just pass in the query string we've created to our `sqldf` object that we stored in `pysqldf`.  This will return a DataFrame.  

    ```python
    results = pysqldf(q)

### Normalization in Databases

#### What is Database Normalization?
Database normalization refers to the practice of storing data across one or more tables based on the information that data contains.

#### Benefits of Database Normalization
- 1. Minimize Duplicate Data
- 2. Minimize Data Modification Issues
- 3. Simplifying Queries

#### Types of Normal Forms
1st Normal Form: All rows have the same number of columns. No column names are repeated.

2nd Normal Form: Meets the specifications of 1st normal form, plus all column data depends on the entire primary key, and not just part (remember, primary keys can be a composite of 2 or more columns in a table!)

3rd Normal Form: Meets the specifications of 2nd normal form, plus no column depends on other columns. Each column in the table depends on the primary key, the whole primary key, and nothing but the primary key.

#### Table Relationships

##### One-to-One Relationships
In one-to-one relationships, an entity in a table is connected to exactly one entity in a corresponding table through a foreign key.

##### One-to-Many Relationships
In one-to-many relationships, an entity in a table can be connected to one or more entities in a corresponding table through a foreign key.

##### Many-to-Many Relationships
In many-to-many relationships, an multiple entities in a table can be connected to one or more of the same entities in a corresponding table.

### Entity Relationship Diagram

https://yintingchou.com/posts/2017-09-01-learning-microsoft-sql-server/ERD.png

#### ERD relationship notation

https://d2slcw3kip6qmk.cloudfront.net/marketing/pages/chart/ER-diagram-symbols-and-meaning/ERD_notation-416x315.PNG

### SQLalchemy and Object Relation Mappers (ORM)

#### Defining Our Mappings
We'll begin by importing everything we need to create our database and structure our mappings so that they look like the tables in the ERD.

    #import packages and decalre a base
    from sqlalchemy import *
    from sqlalchemy.orm import relationship #to create relationships
    from sqlalchemy.ext.declarative import declarative_base #to declare a base
    Base = declarative_base()

#### Creating Class Mappings

https://www.sqlalchemy.org/

In order to set up our classes, define:

- The __tablename__ for each class
- The attributes of each class, which will be Column objects
- The relationship that each class has to other classes


        #Complete the Customer, ShoppingCart, and Item classes.
    
        class Customer(Base):
            __tablename__ = 'customer'

            id = Column(Integer, primary_key=True)
            name = Column(String)
            cart_id = Column(Integer, ForeignKey('shoppingCart.id'))

            # Create 1-to-1 relationship with ShoppingCart, as shown in the SQLAlchemy documentation
            shoppingCart = relationship('ShoppingCart', uselist=False, back_populates='customer')
        class ShoppingCart(Base):
            __tablename__ = "shoppingCart"

            id = Column(Integer, primary_key=True)
            item_id = Column(Integer, ForeignKey('item.id'))
            # Create 1-to-1 relationship with Customer
            customer = relationship('Customer', uselist=False, back_populates='shoppingCart')
            # Create 1-to-many relationship with Item
            items = relationship('Item')
        class Item(Base):
            __tablename__ = 'item'

            id = Column(Integer, primary_key=True)
            description = Column(String)
            price = Column(Float)

        #Creating Our Database
        engine = create_engine('sqlite:///shopping_cart.db', echo=True)
        Base.metadata.create_all(engine)

        #create some objects, and then populate the database with them.

        customer1 = Customer(name="Jane")
        item1 = Item(description="widget", price=9.99)
        cart1 = ShoppingCart(customer=customer1, items = item1)
        customer1.shoppingCart = cart1
        
        #add our new data to our database tables by creating a session object.
        from sqlalchemy.orm import sessionmaker, Session
        Session = sessionmaker(bind=engine)
        session = Session()

        #add items to our database one at a time by passing them in as a parameter to session.add(). 
        #add multiple items by passing them as a list into the add_all() method.
        session.add_all([customer1, cart1, item1])

        #see all the items that have been added by checking the session objectthe cell below.
        #session.new


        #commit our objects to push them to the database.
        session.commit()

### Querying with SQLalchemy

    #Connecting to the Database
    import sqlalchemy
    from sqlalchemy import create_engine
    from sqlalchemy.orm import Session, sessionmaker
    engine = create_engine("sqlite:///Northwind_small.sqlite", echo=True)
    Session = sessionmaker(bind=engine)
    session = Session()

    #Get Table Names and Table Information
    from sqlalchemy import inspect
    inspector = inspect(engine)
    print(inspector.get_table_names())

    #function to print out the name and type of each column in a well-formatted way.
    def get_columns_info(col_name):
        cols_list = inspector.get_columns(col_name)

        print("Table Name: {}".format(col_name))
        print("")

        for column in cols_list:
            print("Name: {} \t Type: {}".format(column['name'], column['type']))
    get_columns_info('Employee')

    #Connecting and Executing Raw SQL Statements
    con = engine.connect()
    rs = con.execute("SELECT * FROM Customer LIMIT 5")
    print(rs.fetchall())

    #Storing data in Pandas DataFrame
    import pandas as pd
    rs = con.execute("SELECT firstname, lastname, title from Employee")
    df = pd.DataFrame(rs.fetchall())
    df.head()


    Nice! We can now read our results. However, the columns of our DataFrame aren't labeled. Luckily, pandas plays nicely with the sqlalchemy library, and can actually execute sql queries!

    #query to select all orders from customer VINET
    df = pd.read_sql_query("SELECT * FROM [Order] WHERE CUSTOMERId = 'VINET'", engine)
    df.head()


    #Executing JOIN Statements
    df = pd.read_sql_query("""SELECT o.ID, c.CompanyName, Count(*) num_orders FROM [Order] \
    o INNER JOIN Customer c on o.CustomerID = c.ID GROUP BY c.CompanyName ORDER BY num_orders DESC""", engine)
    df.head()

    #JOINs with Many-To-Many Relationships
    q = """SELECT LastName, FirstName, COUNT(*) as TerritoriesAssigned from \
    Employee \
    JOIN EmployeeTerritory et on Employee.Id = et.employeeId \
    GROUP BY Employee.lastname \
    ORDER BY TerritoriesAssigned DESC"""
    df2 = pd.read_sql_query(q, engine)
    df2.head()

    #create mappings of tables to objects in python to use ORM
    from sqlalchemy import MetaData
    from sqlalchemy.ext.automap import automap_base
    metadata = MetaData()
    metadata.reflect(engine)
    Base = automap_base(metadata=metadata)
    Base.prepare()
    Employee, Customer = Base.classes.Employee, Base.classes.Customer

#### Writing Basic Queries

    #for loop that iterates through the results returned by a session.query() of the Employee table and orders the results by the Employee's .HireDate attribute.
    for instance in session.query(Employee).order_by(Employee.HireDate):
        print("Name: {}, {}  Hired: {}".format(instance.LastName, instance.FirstName, instance.HireDate))

    Implicit JOINs using .filter()
    One great benefit of using session.query() to query our data is that we can easily execute implicit joins by making use of the .filter() method.

    So far we've only explicitly specified mappings for the Employee and Customer classes. We'll need to do this now for the Product and Category classes before we can use them with session.query().

    #set the mappings for Product and Category.
    Product, Category = Base.classes.Product, Base.classes.Category

    #for loop that iterates through all results returned from a query of Products and Categories and use the .filter() method to only include cases where the Product's .CategoryID matches the Category's .Id attribute.
    for p, c in session.query(Product, Category).filter(Product.CategoryId==Category.Id).all():
        print("Product Name: {}  Category Name: {}".format(p.ProductName, c.CategoryName))

### SQL Server Error Handling

#### Error Anatomy
- Message # - can be 1-499999
    - can create errors starting with 50001
- Level
    - 0-10 (informational)
    - 11-16 (errors that can be corrected
    - 17-24 (fatal errors, software problems)
        - error levels <11 and > 20 are uncatchable by a TRY-CATCH block
- State
    - 1 - SQL Server displays error
    - can assign values 0-255
- Line
    - which line the error occured
- Procedure 
    - procedure that caused the error
    
#### TRY...CATCH syntax
- can be nested
   
    BEGIN TRY
        #enclose statements within the try block
        INSERT INTO products (product_name, stock, price)
        VALUES ('product_name', 10, 3499)
        SELECT 'Product inserted correctly!' AS message;
    END TRY
    BEGIN CATCH
        #place error handling code in CATCH block
        SELECT 'An error occured! You are in the CATCH block!' AS message;
    END CATCH;
    #Error in TRY block -> CATCH block takes control, if no error, CATCH is skipped
    
#### Functions That Provide Error Info.
- functions that can be ran when in the CATCH block
- ERROR_NUMBER() - returns the number of an error
- ERROR_SEVERITY() - returns severity (11-19)
- ERROR_STATE() - returns state of the error
- ERROR_LINE() - returns the line where error occured
- ERROR_PROCEDURE() - returns the name of the stored procedure/trigger. NULL if no value
- ERROR_MESSAGE() - returns the text of the error message
- EXAMPLE

            -- Set up the TRY block
        BEGIN TRY  	
            SELECT 'Total: ' + SUM(price * quantity) AS total
            FROM orders  
        END TRY
        -- Set up the CATCH block
        BEGIN CATCH  
            -- Show error information.
            SELECT  ERROR_NUMBER() AS number,  
                    ERROR_SEVERITY() AS severity_level,  
                    ERROR_STATE() AS state,
                    ERROR_LINE() AS line,  
                    ERROR_MESSAGE() AS message; 	
        END CATCH 
        
#### RAISERROR
- create an error statement
- used in the TRY block

        RAISERROR('error_message', severity, state)
        # can use formatting
        RAISERROR('error %s message %d, severity, state, '%s_string', %d number)
        # can use message number instead of message string
        RAISERROR(message_number, severity, state) #error numbers and associated messages are stored in sys.messages
    
#### THROW

- Microsoft suggests using throw for newer programs
- works within or without the CATCH block
- must be used in CATCH block if using only THROW; # no arguments
- defaults severity to 16

        THROW error_number, message, state;

##### customizing THROW statements
- using a variable and the CONCAT function

        -- Set @first_name to 'Pedro'
        DECLARE @first_name NVARCHAR(20) = 'Pedro';
        -- Concat the message
        DECLARE @my_message NVARCHAR(500) =
            CONCAT('There is no staff member with ', @first_name, ' as the first name.');

        IF NOT EXISTS (SELECT * FROM staff WHERE first_name = @first_name)
            -- Throw the error
            THROW 50000, @my_message, 1;
            
- using FORMATMESSAGE

        #with message string
        DECLARE @product_name AS NVARCHAR(50) = 'Trek CrossRip+ - 2018';
        DECLARE @number_of_sold_bikes AS INT = 10;
        DECLARE @current_stock INT;
        -- Select the current stock
        SELECT @current_stock = stock FROM products WHERE product_name = @product_name;
        DECLARE @my_message NVARCHAR(500) =
            -- Customize the message
            FORMATMESSAGE('There are not enough %s bikes. You only have %d in stock.', @current_stock, @product_name);

        IF (@current_stock - @number_of_sold_bikes < 0)
            -- Throw the error
            THROW 50000, @my_message, 1;
            
            #example with message number
            #first, message needs to be set in system
            EXEC sp_addmessage @msgnum = 50002, @severity = 16, @msgtext = 'There are not enough %s bikes. You only have %d in stock.', @lang = N'us_english';

        DECLARE @product_name AS NVARCHAR(50) = 'Trek CrossRip+ - 2018';
        DECLARE @number_of_sold_bikes AS INT = 10;
        DECLARE @current_stock INT;
        SELECT @current_stock = stock FROM products WHERE product_name = @product_name;
        DECLARE @my_message NVARCHAR(500) =
            -- Prepare the error message
            FORMATMESSAGE(50002, @product_name, @current_stock );

        IF (@current_stock - @number_of_sold_bikes < 0)
            -- Throw the error
            THROW 50000, @my_message, 1;
            
### Transactions
- execution of one or more statements where all or none of the statements are executed
- transactions are saved in a separate table

        #start a transaction
        BEGIN TRAN/TRANSACTION trans_name or trans_var;
        #end a successful transaction
        COMMIT TRAN/TRANSACTION trans_name or trans_var
        WITH(DELAYED_DURABILITY = OFF/ON;
        #revert or fix a transaction
        ROLLBACK TRAN/TRANSACTION trans_name or trans_var;
        
- example where a transaction is performed and if errors are present, it will rollback the transaction

        BEGIN TRY  
            BEGIN TRAN;
                UPDATE accounts SET current_balance = current_balance - 100 WHERE account_id = 1;
                INSERT INTO transactions VALUES (1, -100, GETDATE());
        
                UPDATE accounts SET current_balance = current_balance + 100 WHERE account_id = 5;
                INSERT INTO transactions VALUES (5, 100, GETDATE());
            COMMIT;
        END TRY
        BEGIN CATCH  
            ROLLBACK;
        END CATCH
        
##### @@TRANCOUNT 
- number of BEGIN TRAN statements that are active in your current connection
    - BEGIN TRAN statements increase count +1
    - COMMIT TRAN statements decrease count -1
    - ROLLBACK TRAN statements decrease count to 0 except if there is a savepoint

##### savepoints 
- allow to rollback to a savepoint

        SAVE TRAN savepoint_name
        
##### XACT_ABORT
- specifies whether current transaction will be auto rolled back when an error occurs

       #OFF is default setting
       SET XACT_ABORT ON/OFF

##### XACT_STATE
- returns 0 when no transactions
- returns 1 when open and commitable trans.
- -1 when open and uncommitable trans.

#### Concurrency
- two or more transactions that read/change shared data at the same time
- may want to isolate transactions

#### Transaction Isolation

        SET TRANSACTION ISOLATION LEVEL selected_level

##### READ COMMITTED
- default isolation level
- cant read data modified by other transaction that hasnt been committed or rolled back

##### READ UNCOMMITTED
- least restrictive
- read rows modified without being committed

##### REPEATABLE READ
- same restriction as READ COMMITTED +
- if some data is read, other trans. cannot modify that data until REPEATABLE READ transaction finishes

##### SERIALIZABLE
- most restrictive
- querying with a WHERE clause based on index range will lock only those records
- if no query, locks entire table

##### SNAPSHOT
- every modification is stored in tempDB table
- only see committed changes that occured before the start of SNAPSHOT transaction and own changes
- similar restriction level as SERIALIZABLE
- using the ALTER DATABASE command, can allow SNAPSHOT for READ_COMMITTED 
- WITH (NOLOCK)
    - used to read uncommited data
    - applies to a specific table
       
       
           #update a database
            ALTER DATABASE myDatabaseName SET ALLOW_SNAPSHOT_ISOLATION ON;

            SET TRANSACTION ISOLATION LEVEL SNAPSHOT

### SQL Query Best Practices

#### General Guidelines
- SQL input is case insensitive
- consistency is important
- use UPPER CASE for all SQL syntax
- create new lines for each processing syntax (SELECT, FROM, WHERE, etc)
- indent code:
    - ON statements
    - AND/OR conditions
    - subqueries
    - to avoid long lines of single code
- complete query using ;
- alias where required using AS
- add block comments (/* text */)
- add single line comments (--)

#### Aliasing (AS)
- used in queries to identify:
    - tables
    - columns
    - sub-queries
- temporary, only applied when query is run

        SELECT Team, 
        ROUND(AVG(BMI),2) AS AvgTeamBMI -- Alias the new column
        FROM PlayerStats AS ps -- Alias PlayerStats table
        
#### Syntax Order

##### processing order
- 1 FROM
- 2 ON
- 3 JOIN
- 4 WHERE
- 5 GROUP BY
- 6 HAVING
- 7 SELECT
- 8 DISTINCT
- 9 ORDER BY
- 10 TOP

#### WHERE
- filters out individual rows with a condition (increases processing time)
- avoid using calculations or functions
- use wild card strings 'WildCard%'

#### HAVING
- also used to filter query
- filters groups or multiple rows
- can only be applied to a numeric column in an aggregate function filter

#### SELECT
- SELECT * can be computationally expensive for large tables and in joins returns duplicates of joining columns

#### TOP (MSSQL) ROWNUM(Oracle) LIMIT(PostgreSQL)
- used after SELECT to limit rows returned
- can also be used in conjunction with PERCENT (proportion of rows)
- combine with ORDER BY DESC to get bottom rows

#### Managing Duplicates
- most common occurence is when joining tables
- may be alternate to using DISTINCT, UNION

##### DISTINCT
- helps remove duplicates
- does not work with aggregate functions (use GROUP BY)

##### UNION
- removes duplicates when appending tables
- UNION ALL does not remove duplicates

#### Sub-queries
- uses its own SELECT statement
- returns to the outer query (sub-query runs first)
- can start with FROM, WHERE, SELECT
##### uncorrelated (WHERE, FROM)
- does not contain a reference to the outer query
- can run idependently
##### correlated (WHERE, SELECT)
- include reference to outer query 
- cannot run without outer query
- INNER JOIN can in many cases replace a correlated sub-query

#### INTERSECT
- finds common information between tables
- numbers and orders of columns must be the same

        SELECT Capital
        FROM Nations -- Table with capital cities

        INTERSECT -- Add the operator to compare the two queries

        SELECT NearestPop -- Add the city name column
        FROM Earthquakes;

#### EXCEPT
- finds uncommon information between tables
- numbers and orders of columns must be the same

        SELECT Code2 -- Add the country code column
        FROM Nations

        EXCEPT -- Add the operator to compare the two queries

        SELECT Country 
        FROM Earthquakes; -- Table with country codes
        
#### EXISTS, NOT EXISTS
- similar to INTERSECT, EXCEPT for finding common data in a sub-query
- preferred method over IN 

        -- Second attempt
        SELECT CountryName,   
               Capital,
               Pop2016, -- 2016 country population
               WorldBankRegion
        FROM Nations AS n
        WHERE EXISTS -- Add the operator to compare queries
              (SELECT 1
               FROM Earthquakes AS e
               WHERE n.Capital = e.NearestPop); -- Columns being compared

#### IN, NOT IN
- similar to EXISTS, but need to specify the column to match on

        SELECT WorldBankRegion,
       CountryName
        FROM Nations
        WHERE Code2 NOT IN -- Add the operator to compare queries
            (SELECT CountryCode -- Country code column
             FROM Cities);
             
 #### INNER JOIN
 - joins matching data in related tables
 
         -- Second query
        SELECT t.TeamName,
               t.TeamCode,
               t.City,
               e.Date,
               e.place, -- Place description
               e.CountryCode -- Country code
        FROM Teams AS t
        INNER JOIN Earthquakes AS e -- Operator to compare tables
              ON t.City = e.NearestPop
              
 #### LEFT OUTER JOIN
 - exclusive - checks for data left query not in right query - need to add IS NULL
 - inclusive - returns all rows in left query
 
         -- Second attempt
        SELECT c.CustomerID,
               c.CompanyName,
               c.ContactName,
               c.ContactTitle,
               c.Phone 
        FROM Customers c
        LEFT OUTER JOIN Orders o
            ON c.CustomerID = o.CustomerID
        WHERE c.Country = 'France'
            AND o.CustomerID IS NULL; -- Filter condition

### Statistics
- measuring performance

#### STATISTICS TIME
- time in ms
- CPU time - time taken by server processors to process the query
- elapsed time - total duration of the query (best measure to rely on)
- need to turn on before query
- does not need to be rerun when ON
        
        SET STATISTICS TIME ON #turn on
        SET STATISTICS TIME OFF #turn off

#### STATISTICS IO
- data stored stored in 8kB size 'pages'
- 'page' can only belong to one table
- need to turn on before query
- logical reads - # of pages for that table

        SET STATISTICS IO ON #turn on
        SET STATISTICS IO OFF #turn off

### Indexes
- structure to improve speed of accessing data from a table
- can locate data quickly w/o having to scan the entire table
- applied to table columns

#### Clustered
- similar to a dictionary setup
- queries are run faster

#### Nonclustered
- similar to the index at the back of a book

### Execution Plans
- shows if indexes were used
- the types of joins used
- the location and relative costs of filters, sorting, aggregations
- can access via SSMS toolbar menu
- read from right->left
- width of arrow represents data amount

### SQL Triggers
- special type of stored procedure
- executed when an event occurs in the server
- used to prevent or add executions to statements when changes occur to DB
- cannot call other triggers
- dont allow parameters or transactions
- cannot return values
- can calculate column values
- can use columns from other tables for calculations
- used for auditing and integrity enforcement
- types of triggers
    - DML - data manipulation language
        - INSERT, UPDATE, DELETE
    - DDL - data definition language
        - CREATE, ALTER, DROP
    - Logon 
        - LOGON events
    - AFTER trigger
        - additional statement triggered after initial statement executes
    - INSTEAD OF
        - prevents original execution with a replacement
        
#### CREATE TRIGGER
- creates a trigger
- needs to be attached to a table

        -- Create a new trigger that fires when deleting data
        CREATE TRIGGER PreventDiscountsDelete
        ON Discounts
        -- The trigger should fire instead of DELETE
        INSTEAD OF DELETE
        AS
            PRINT 'You are not allowed to delete data from the Discounts table.';
            
#### Trigger Alternatives
- Stored Procedues
    - run when called explicitly
    - can call other stored procedures
    - accept parameters and transactions
    - can return values as outputs
    - used for general tasks
- Computed Columns
    - calculate column values
    - use columns only from the same table
    - defined when creating table
    
#### AFTER TRIGGER
- used with INSERT, UPDATE, DELETE statements
- use cases
    - history of row changes
    - audit changes
    - send notifications
- can be used with DML and DDL
- need a target table
- need a description of the trigger
- need to define which statement fires the trigger (INSERT, DELETE, UPDATE)
- needs to have a name

        -- Create the trigger and trigger name
        CREATE TRIGGER TrackRetiredProducts
        -- Specify table
        ON Products
        -- specify trigger firing statement
        AFTER DELETE
        -- statement to be perfromed
        AS
            INSERT INTO RetiredProducts (Product, Measure)
            SELECT Product, Measure
            FROM deleted;
            
#### INSTEAD OF
- can only be used on DML statements
- use cases
    - prevent certain operations and notify admin
- need a target table
- need a description of the trigger
- need to define which statement fires the trigger (INSERT, DELETE, UPDATE)
- needs to have a name

            -- Create the trigger and trigger name
        CREATE TRIGGER PreventOrdersUpdate
        -- specify table
        ON Orders
        -- specify trigger firing statement
        INSTEAD OF UPDATE
        -- statement to be perfromed
        AS
            RAISERROR ('Updates on "Orders" table are not permitted.
                        Place a new order to add new products.', 16, 1);
                        
#### DDL triggers
- works with CREATE, ALTER, DROP statements
- can only be used with AFTER trigger, not INSTEAD OF
- use cases
    - database level
        - _TABLE, _VIEW, _INDEX, _STATISTICS, _ROLE_MEMBER
        - auditing
    - server level
        - _DATABASE, _SERVER, _CREDENTIAL
        - prevention
- use FOR instead of AFTER for DDL specific trigger
- since INSTEAD OF cannot be used, should use ROLLBACK at the end of the trigger to undo the previous statement

        -- FOR example at DATABASE level
        CREATE TRIGGER TrackTableChanges
        ON DATABASE
        FOR CREATE_TABLE,
        ALTER_TABLE,
        DROP_TABLE
        AS
        INSERT INTO TablesChangeLog (EventData, ChangedBy)
        VALUES (EVENTDATA(), USER);
        
       -- Create a trigger to prevent database deletion
        CREATE TRIGGER PreventDatabaseDelete
        -- Attach the trigger at the server level
        ON ALL SERVER
        FOR DROP_DATABASE
        AS
           PRINT 'You are not allowed to remove existing databases.';
           ROLLBACK;
        
#### Logon triggers
- activated by lOGON event
- after authentication - before connection

        -- Create a trigger firing when users log on to the server
        CREATE TRIGGER LogonAudit
        -- Use ALL SERVER to create a server-level trigger
        ON ALL SERVER WITH EXECUTE AS 'sa'
        -- The trigger should fire after a logon
        AFTER LOGON
        AS
            -- Save user details in the audit table
            INSERT INTO ServerLogonLog (LoginName, LoginDate, SessionID, SourceIPAddress)
            SELECT ORIGINAL_LOGIN(), GETDATE(), @@SPID, client_net_address
            FROM SYS.DM_EXEC_CONNECTIONS WHERE session_id = @@SPID;
            
#### Trigger Limitations/Management
- difficult to view and detect
- invisible to client applications
- hard to follow logic when troubleshooting
- can make server run slower

##### finding triggers

    -- server level
    SELECT * FROM sys.server_triggers
    --database  or table level
    SELECT * FROM sys.triggers
    
##### finding definitions

    SELECT definition
    FROM sys.sql_modules
    WHERE object_id = OBJECT_ID('TriggerName')
    
##### sys.triggers and sys.server_triggers
- object_id: unique identifier
- parent_class: trigger type as integer (1- table; 0 - DB)
- parent_class_desc: text description of trigger type
- create_date - date created
- modify_date - date of last modification
- is_disabled: 1-yes, 0-no
- is_instead_of_trigger: 1-INSTEAD OF, 0-AFTER

##### sys.server_events and sys.server_trigger_events

    SELECT * FROM sys.trigger_events;
    
- object_id: unique identifier  
- type: event type as integer
- type_desc: event type as description
- event_group_type: event group type as integer
- event_group_type_desc: event group type as description

##### sys.trigger_event_types and sys.server_trigger_event_types
- provides a list of all event types

        SELECT * FROM sys.trigger_event_types
        
##### sys.dm_exec_trigger_stats
- provides a table of trigger executions

        SELECT * FROM sys.dm_exec_trigger_stats;

#### Deleting Triggers

    DROP TRIGGER TriggerName;
    
    -- delete DB trigger
    DROP TRIGGER TriggerName
    ON DATABASE;
    
    -- delete server trigger
    DROP TRIGGER TriggerName
    ON ALL SERVER;
    
#### Disable/Enable Trigger

    DISABLE/ENABLE TRIGGER TriggerName
    ON TableName;
    
- use ON DATABASE and ON ALL SERVER to disable at those levels (no need to specify table)
    
#### Altering Triggers

    ALTER TRIGGER TriggerName
    ON TableName
    [trigger_statement]
    
#### Triggers Best Practices
- well documented DB design
- simple trigger designs
- avoid trigger overuse

### NoSQL Database Types

#### Key - Value DatabasesÂ¶
Key value databases, are one of the most simplistic database systems, simply storing data as key-value pairs, just like python dictionaries. The most common implementation is Redis.

- Redis
- Initial release: 2009

#### Document Model Databases
Document model databases are a subclass of key-value databases. The initial concept is of documents such as json or xml. The database stores these documents using key-value pairs. However, unlike key-value databases, document model databases have the additional ability to access information within these documents directly.

- MongoDB
- Initial release: 2009

MongoDB is one of the most popular sql alternatives. It represents data very similar to the JSON format we have been investigating today. It also supports a distributed model where data can be stored across multiple computers.

#### Wide Column Databases
Wide column databases can be thought of as tables where the data in each column can vary from row to row.

- Cassandra
- Initial release: 2008

Cassandra was initially developed internally at Facebook and was later released as an open source software, eventually being picked up and maintained by the Apache Foundation. It was developed for handling large amounts of data to be distrubted across multiple servers. It is notable for being particualrly reliable and not having a single failure point.

#### Graph Databases
Graph databases expand upon the idea of document databases, adding in the concept of relations between documents. This makes certain operations and mappings such as connectivity of the graph of data very easy. However, individual data nodes may not be indexed which can mean that they are not directly accessible on their own but must be accessed via their relationship to more central objects.

- Neo4j
- Initial release: 2007

Neo4j is probably the most popular graph database. It stores all its data as nodes, edges or attributes.

- GraphQL
- Initial release: 2015

GraphQL was developed internally at Facebook and allows users to define specific data structures when requesting data from servers.

#### Choosing an Appropriate Database
There are many consideration when choosing a database including the size of the project, anticipated use cases, and development costs. One obvious and straightforward consideration is training and familiarity. This contributes to the popularity of SQL. Size and use cases are also incredibly imporatant considerations. For personal projects or small businesses, you may not even need a database and can perhaps simply use a csv or json file. As data grows, a database management system is often needed. Until scale continues to grow, any of these choices could meet needs. One of the biggest drawbacks of relational databases such as sql is that they don't scale well horizontally (such as adding columns). In such scenarios, some of the alternative models provide more computationally effective solutions at scale.

#### Additional Resources
Check out https://db-engines.com/en/ranking for a ranking of various databases as well as much more information about them!

### MongoDB
- non-structured database
- JSON basis of MongoDB format
- objects
    - string keys and values {'key':value}
    - like pyhton dictionaries
- arrays
    - series of values [value1, value2, valuen]
    - like python lists
    
#### framework (top -> bottom)
- Database
    - JSON (objects), Python (dics)
- Collections
    - JSON (arrays), Python (lists)
- Documents
    - JSON (objects), Python (dics)
- Subdocuments
    - JSON (objects), Python (dics)
- values
    - JSON (value types), Python (value types + datetime and regex)

#### importing a database

        import requests
        from pymongo import MongoClient
        
#### listing database and collection names

        # Save a list of names of the databases managed by client
        db_names = client.list_database_names()
        print(db_names)

        # Save a list of names of the collections managed by the "nobel" database
        nobel_coll_names = client.nobel.list_collection_names()
        print(nobel_coll_names)
        
#### find_one document per collection and list the fields

        # Connect to the "nobel" database
        db = client.nobel

        # Retrieve sample prize and laureate documents
        prize = db.prizes.find_one()
        laureate = db.laureates.find_one()

        # Print the sample prize and laureate documents
        print(prize)
        print(laureate)
        print(type(laureate))

        # Get the fields present in each type of document using their keys
        prize_fields = list(prize.keys())
        laureate_fields = list(laureate.keys())

        print(prize_fields)
        print(laureate_fields)

#### count_documents
- counts documents in a collection

        #count documents example
        count = db.laureates.count_documents()
        print(count)

#### query operators
- filters queries
- can add as many filters as needed
- strings are compared lexicographically

        # basic key:value filter
        criteria = {'diedCountry': 'USA'}
        
        #using operators to filter
        'field_name' = {
            $operator1: value1,
            $operator2: value2}
            
#### using dot notation
- accesses field values
- also access value counts (field.2) = has three values

        # Filter for laureates born in Austria with non-Austria prize affiliation
        criteria = {'bornCountry': 'Austria',                 'prizes.affiliations.country': {"$ne": 'Austria'}}

        # Filter for laureates with at least three prizes
        criteria = {'prizes.2': {'$exists': True}}
        
#### distinct()
- collect a set of values across all documents
- can use aggregates

        # using aggregate to compare
        countries = set(db.laureates.distinct('diedCountry')) - set(db.laureates.distinct('bornCountry'))
        
        #using aggregate and dot notation as value
        count = len(db.laureates.distinct('prizes.affiliations.country'))
        print(count)
        
##### using filters along with distinct
     db.laureates.distinct('prizes.affiliations.country', {'bornCountry': 'USA'})
     
##### using filters along with arrays
- can use arrays to filter data

        criteria = {'diedCountry': ['USA', Canada, Mexico]}
        
##### '$elemMatch'
- separates field queries so that more specific outputs can be made

        # Save a filter for laureates with unshared prizes
        unshared = {
            "prizes": {"$elemMatch": {
                "category": {"$nin": ["physics", "chemistry", "medicine"]},
                "share": "1",
                "year": {"$gte": "1945"},
            }}}
            
##### Regex
- used to find specific pattern text within a field
- find the beginning use ^
- use \ to escape
- find the end use '$'

        from bson.regex import Regex
        # Filter for laureates with "Germany" in their "bornCountry" value
        criteria = {"bornCountry": Regex('Germany')}
        print(set(db.laureates.distinct("bornCountry", criteria)))    $


#### Projection
- reducing multi-dimensional data
- includes fields ('field_name'=1)
- '_id' is included by default _
- returns results as a cursor that can be shown as a list (can slice and use list comprehension)

        # project year and category, and sort
        docs = db.prizes.find(
                filter={},
                projection={"year":1, "category":1, "_id":0},

           
#### Sorting
- can use python sorted function
- can also pass sort argument to the .find() function ['field_name':, 1] (asc) ['field_name':, -1] (desc)

        #using python language
        from operator import itemgetter

        def all_laureates(prize):  
          # sort the laureates by surname
          sorted_laureates = sorted(laureate["surname"], key=itemgetter('surname'))

          # extract surnames
          surnames = [laureate["surname"] for laureate in sorted_laureates]

          # concatenate surnames separated with " and " 
          all_names = " and ".join(surnames)

          return all_names

        # test the function on a sample doc
        print(all_laureates(sample_prize))
        
        # find physics prizes, project year and name, and sort by year
        docs = db.prizes.find(
                   filter= {"category": "physics"}, 
                   projection= ["year", "laureates.firstname", "laureates.surname"], 
                   sort= [("year", 1)])
                   
### create_index()
- similar to a book index
- use with a very specific query
- use with large collections
- can index before a query to further specify
- other index features
    - index_information() - confirms which indexes exist on a specified collection
    - explain() - provides the output of how a query will perform
    
            # Specify an index model for compound sorting
            index_model = [("category", 1), ("year", -1)]
            db.prizes.create_index(index_model)
            
#### Limit and Skip 
- limit and skip are parameters to include in the .find() and .find_one() method
- limit will show top n
- skip will skip every n 

        #skip every three, limit to 8
        db.laureates.find("prizes", skip=3, limit=8)
        #dot notation
        db.laureates.find_one("prizes").skip(3).limit(8)
        
#### aggregate()
- uses a key/value operation pairs format to imply stages to a query
- can pass expression objects
- can also pass operaters as expressions

        # Translate cursor to aggregation pipeline
        pipeline = [
            {'$match': {'gender': {'$ne': 'org'}}},
            {'$project': {"bornCountry": 1, "prizes.affiliations.country": 1}},
            {'$limit': 3}
            
##### $$unwind
- outputs one pipeline document per array element
- replaces projecting sizes and summing over them

##### $$lookup
- pulls in docs from another collection via a left outer join

##### $$addfield
- allows to add customized query fields to pipeline

##### $$bucket
- groups values into buckets defined by a sequence of boundaries